input {
  file {
    path => "/incomingData"
    type: "csv"
  }
}
filter {
  csv {
    separator => ","
    columns => ["id","song-id","playlist-id","views", "skips", "genre-id", "created", "updated"]
  }
}
output {
  if [type] == "csv" {
    elasticsearch {
      hosts => "http://localhost:9200"
      index => "mixtape-songs"
    }
  }
stdout {}
}